---
import Container from "@components/Container.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title="404 Not Found">
  <Container class="relative z-10">
    <div class="min-h-[calc(100vh-16rem)] flex items-center justify-center">
      <div class="mt-16 text-center">
        <h1 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">404: Vessel Off-Course🌊</h1>
        <p class="text-lg mt-4 text-slate-600">Page not found something broke :(</p>
      </div>
    </div>
  </Container>
</Layout>
