---
import Contactform from "@components/contactform.astro";
import { Picture } from "astro:assets";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Layout from "@layouts/Layout.astro";
import { Icon } from "astro-icon/components";
import roboboatImage from "assets/roboboat.png";
---
<Layout title="About">
  <Container class="relative z-10">
    <div class="text-AquaNavy">
      <Sectionhead>
        <Fragment slot="title">About “aQua” 🌊</Fragment>
        <Fragment slot="desc">WHO ARE WE?</Fragment>
      </Sectionhead>
    </div>

    <div class="mx-auto max-w-4xl mt-8">
      <div>
        <p class="text-lg leading-relaxed text-slate-500 mt-3">
            “aQuatonomous,” a blend of the words “aqua,” “Queen’s,” and “autonomous,” is Smith Engineering’s newest student-led interdisciplinary design team. 
        </p>
        <p class="text-lg leading-relaxed text-slate-500 mt-3">
            Founded in 2023, our team has rapidly grown to over 40+ active members, with a focus on continual expansion and innovation. Our mission centers on constructing and programming a state-of-the-art autonomous surface vessel (ASV), providing students with a unique, hands-on opportunity to engage with cutting edge autonomous vehicle technology. We aim to be at the forefront of AI-driven autonomy and sustainable design, integrating the expertise of our diverse sub-teams: mechanical, electrical, perception, ecological & water research, business, and core-autonomy. 
        </p>
        <p class="text-lg leading-relaxed text-slate-500 mt-3">
            Our ASV project not only advances autonomous maritime technology but also catalyzes sustainability and ecological restoration efforts. Our team offers the boat to water and environmental researchers as a research vessel and measurement station.  
        </p>
        <p class="text-lg leading-relaxed text-slate-500 mt-3">
            We encourage students from all disciplines to join us, bringing their unique perspectives and skills to advance autonomous maritime technology. Through collaboration and innovation, we aim to make significant strides interdisciplinary water research and autonomous vehicle design.        </p>
      </div>
    </div>

    <div class="text-AquaNavy">
      <Sectionhead>
        <Fragment slot="title">Our Mission</Fragment>
        <Fragment slot="desc">WHAT WE DO?</Fragment>
      </Sectionhead>
    </div>

    <div class="grid grid-cols-1 sm:grid-cols-2 gap-8 mt-8">
      <div>
        <h3 class="text-xl font-semibold text-slate-700">Innovation in Autonomous Marine Technology</h3>
        <p class="text-lg leading-relaxed text-slate-500 mt-3">
          We strive to be at the forefront of <strong>AI-driven autonomy</strong> and design, developing cutting-edge autonomous ASVs. Our goal is to push the boundaries of technology to create more efficient and effective ASVs.
        </p>
      </div>
      <div>
        <h3 class="text-xl font-semibold text-slate-700">Ecological Sciences and Water Research</h3>
        <p class="text-lg leading-relaxed text-slate-500 mt-3">
          We aim to advance <strong>ecological and water research</strong> by collaborating with research labs and conducting independent studies on Lake Ontario. Our ASV technology supports environmental monitoring and sustainability efforts, contributing to the understanding and preservation of aquatic ecosystems.
        </p>
      </div>
      <div>
        <h3 class="text-xl font-semibold text-slate-700">Hands-On Learning and Professional Development</h3>
        <p class="text-lg leading-relaxed text-slate-500 mt-3">
          We provide students with valuable hands-on experience in building and programming autonomous vehicles. This includes offering <strong>fieldwork opportunities</strong> to disciplines that traditionally lack such exposure, such as mechanical, computer, and electrical engineering. 
        </p>
        <p class="text-lg leading-relaxed text-slate-500 mt-3">
          Through teamwork and practical application, we foster an environment where students from all disciplines can learn and grow professionally. Additionally, we are committed to recruiting first-year students, ensuring they gain early exposure to real-world projects and become integral parts of our team from the start.
        </p>
      </div>
      <div>
        <h3 class="text-xl font-semibold text-slate-700">Commitment to EDII and Outreach</h3>
        <p class="text-lg leading-relaxed text-slate-500 mt-3">
          We are dedicated to upholding <strong>Equity, Diversity, Inclusion, and Indigeneity (EDII)</strong> principles, ensuring a diverse and inclusive team. This commitment enriches our project and community, promoting a culture of respect and collaboration.
        </p>
        <p class="text-lg leading-relaxed text-slate-500 mt-3">
          Additionally, we are committed to outreach, actively engaging in initiatives that give back to our community. By fostering an inclusive environment and prioritizing outreach efforts, we aim to make a <strong>positive impact both within and beyond our university</strong>.
        </p>
      </div>
    </div>
    <div class="text-AquaNavy">
      <Sectionhead>
        <Fragment slot="title">Our Sub-Teams</Fragment>
        <Fragment slot="desc">WHAT WE CAN DO</Fragment>
      </Sectionhead>
    </div>
    
    <section class="mt-8 grid border-2 p-8 border-dashed border-slate-300 rounded-xl  bg-opacity-35 py-16 bg-gray-50 ">
      <div class="max-w-6xl mx-auto px-6">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-12">
          <div>
            <h3 class="text-2xl font-semibold mb-4">⚙️Mechanical</h3>
            <p class="text-slate-600">
              The mechanical team is responsible for creating a buoyant and stable ASV hull, and designing the propulsion system. The hull must comply with Roboboat competition rules: no more than six feet in length, four feet in width, and no heavier than 75 lbs. They also ensure that all components used by other teams are waterproof, ready for in-water testing.
            </p>
            <p class="text-slate-600 mt-4">
              Additionally, they design a simple transport cart for the hull, often in a quick hackathon session of just three hours!
            </p>
          </div>
          <div>
            <h3 class="text-2xl font-semibold mb-4">⚡Electrical</h3>
            <p class="text-slate-600">
              The electrical team focuses on designing an efficient sensor suite while minimizing costs, integrating the payload computer with onboard sensors, and implementing a robust e-stop safety system with both physical and remote access.
            </p>
            <p class="text-slate-600 mt-4">
              They also collaborate with the mechanical team to ensure smooth motor control for propulsion.
            </p>
          </div>
          <div>
            <h3 class="text-2xl font-semibold mb-4">🧠Autonomy and Perception</h3>
            <p class="text-slate-600">
              The perception and autonomy teams work closely to enable intelligent navigation. Perception handles mapping, localization, and obstacle detection using a custom sensor suite, built in collaboration with the electrical team. 
            </p>
            <p class="text-slate-600 mt-4">
               Since no map is provided at Roboboat, the ASV must generate its own in real time. This data feeds into the autonomy team's algorithms for path and behavior planning. Starting with methods like A*, PID control, and rule-based logic, the system is designed to evolve toward more adaptive, robust decision-making over time.
            </p>
          </div>
           <div>
            <h3 class="text-2xl font-semibold mb-4">🔗Systems Integration</h3>
            <p class="text-slate-600">
              The Systems Integration team ensures seamless communication between software, hardware, and onboard systems, acting as the connective tissue of the ASV. This team configures and maintains ROS-based infrastructure, telemetry systems, and firmware like MAVROS and Pixhawk, enabling real-time coordination between perception, autonomy, and actuation.
            </p>
            <p class="text-slate-600 mt-4">
              This team is critical to reliable field performance and iterative testing, especially as the platform scales in complexity.
            </p>
          </div>
           <div>
            <h3 class="text-2xl font-semibold mb-4">💼Business</h3>
            <p class="text-slate-600">
              The Business team drives the sustainability and visibility of aQuatonomous through sponsorship outreach, budget planning, and strategic communication. From crafting compelling grant applications like those for the Sustainable Action Fund to organizing public engagement initiatives, this team ensures the project's long-term impact and community alignment.
            </p>
            <p class="text-slate-600 mt-4">
              The business team ultimatelys supports both the team's technical ambitions and its environmental mission.
            </p>
          </div>
           <div>
            <h3 class="text-2xl font-semibold mb-4">🪸Ecological Sciences and Water Research</h3>
            <p class="text-slate-600">
              The Ecological Sciences and Water Research team anchors the project in environmental relevance by designing research questions and collecting meaningful aquatic data. 
            </p>
            <p class="text-slate-600 mt-4">
               Leveraging the ASV’s sensor payload, they investigate topics such as pollution, water quality, and ecological patterns in Lake Ontario. Their insights guide sensor selection, field deployment, and reinforce the team’s commitment to sustainability-driven innovation.
            </p>
          </div>
          
        </div>
      </div>
    </section>

    <div class="text-AquaNavy">
      <Sectionhead>
        <Fragment slot="title">Pilot Projects</Fragment>
        <Fragment slot="desc">INITIATIVES WE'RE KICKING OFF IN 2025-2026</Fragment>
      </Sectionhead>
    </div>
    <section class="mt-8 grid border-2 p-8 border-dashed border-slate-300 rounded-xl  bg-opacity-35 py-16 bg-gray-50 ">
      <div class="max-w-6xl mx-auto px-6">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-12">
           <div>
            <h3 class="text-2xl font-semibold mb-4">⛵aQuaSAIL</h3>
            <p class="text-slate-600">
             aQuaSAIL is a new pilot project exploring sustainable propulsion by developing a modular sail system that can transform the ASV into an autonomous sailboat.
            </p>
            <p class="text-slate-600 mt-4">
               The project blends mechanical innovation with control systems to enable wind-powered navigation, reducing reliance on electric motors and extending mission duration. Designed to be attachable and removable, the sail module emphasizes flexibility, experimentation, and long-term environmental viability.
            </p>
          </div>
           <div>
            <h3 class="text-2xl font-semibold mb-4">🧭aQuaNAVIS</h3>
            <p class="text-slate-600">
              NAVIS is a hands-on, course-based initiative designed to train first- and second-year students in core technical skills like Linux, ROS, robotics algorithms, sensors, and naval architecture. 
            </p>
            <p class="text-slate-600 mt-4">
              NAVIS builds core skills early, equipping new members with the knowledge and confidence to contribute meaningfully to aQuatonomous and grow into future team leaders.
            </p>
            
          </div>
        </div>
      </div>
    </section>

    <div class="text-AquaNavy">
      <Sectionhead>
        <Fragment slot="title">Competitions</Fragment>
        <Fragment slot="desc">WHAT WE AIM TO ACHIEVE</Fragment>
      </Sectionhead>
    </div>

    <div class="mx-auto max-w-4xl mt-8">
      <div class="grid grid-cols-1 lg:grid-cols-3 gap-4 items-center">
        <!-- Image Column -->
        <div class="flex justify-center lg:col-span-1">
          <Picture
            src={roboboatImage}
            alt="logo of roboBoat Competition"
            sizes="(max-width: 800px) 100vw, 200px"
            width={300}
            height={300}
          />
        </div>
    
        <!-- Text Column -->
        <div class="lg:col-span-2">
          <p class="text-lg leading-relaxed text-slate-500">
           In 2025, aQuatonomous made its debut at the <strong>RoboNation RoboBoat Competition</strong>, reaching the semi-finals and placing 4th overall in the Design Presentation category. This marked a strong first showing on the global stage and affirmed our mission to develop clean-powered vessels that support ecological research and restoration. Building on this momentum, we’re continuing to improve our technology and aim to achieve even greater impact in future competitions.
          </p>
        </div>
      </div>
    </div>
    

  </Container>
</Layout>
