---
import Contactform from "@components/contactform.astro";
import { Picture } from "astro:assets";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Layout from "@layouts/Layout.astro";
import { Icon } from "astro-icon/components";
import roboboatImage from "assets/roboboat.png";
---
<Layout title="About">
  <Container class="relative z-10">
    <Sectionhead>
      <Fragment slot="title">About “aQua” 🌊</Fragment>
      <Fragment slot="desc">WHO ARE WE?</Fragment>
    </Sectionhead>

    <div class="mx-auto max-w-4xl mt-8">
      <div>
        <p class="text-lg leading-relaxed text-slate-500 mt-3">
            “aQuatonomous,” a blend of the words “aqua,” “Queen’s,” and “autonomous,” is Smith Engineering’s newest student-led interdisciplinary design team. 
        </p>
        <p class="text-lg leading-relaxed text-slate-500 mt-3">
            Founded in 2023, our team has rapidly grown to over 100+ passionate members, with a focus on continual expansion and innovation. Our mission centers on constructing and programming a state-of-the-art solar-powered autonomous surface vessel (ASV), providing students with a unique, hands-on opportunity to engage with cutting edge autonomous vehicle technology. We aim to be at the forefront of AI-driven autonomy and sustainable design, integrating the expertise of our diverse sub-teams: mechanical, electrical, perception, ecological & water research, business, and core-autonomy. 
        </p>
        <p class="text-lg leading-relaxed text-slate-500 mt-3">
            Our ASV project not only advances autonomous maritime technology but also catalyzes sustainability and ecological restoration efforts. Our team offers the boat to water and environmental researchers as a research vessel and measurement station.  
        </p>
        <p class="text-lg leading-relaxed text-slate-500 mt-3">
            We encourage students from all disciplines to join us, bringing their unique perspectives and skills to advance autonomous maritime technology. Through collaboration and innovation, we aim to make significant strides interdisciplinary water research and autonomous vehicle design.        </p>
      </div>
    </div>

    <Sectionhead>
      <Fragment slot="title">Our Mission</Fragment>
      <Fragment slot="desc">WHAT WE DO?</Fragment>
    </Sectionhead>

    <div class="grid grid-cols-1 sm:grid-cols-2 gap-8 mt-8">
      <div>
        <h3 class="text-xl font-semibold text-slate-700">Innovation in Autonomous Marine Technology</h3>
        <p class="text-lg leading-relaxed text-slate-500 mt-3">
          We strive to be at the forefront of <strong>AI-driven autonomy</strong> and design, developing cutting-edge autonomous ASVs. Our goal is to push the boundaries of technology to create more efficient and effective ASVs.
        </p>
      </div>
      <div>
        <h3 class="text-xl font-semibold text-slate-700">Ecological Sciences and Water Research</h3>
        <p class="text-lg leading-relaxed text-slate-500 mt-3">
          We aim to advance <strong>ecological and water research</strong> by collaborating with research labs and conducting independent studies on Lake Ontario. Our ASV technology supports environmental monitoring and sustainability efforts, contributing to the understanding and preservation of aquatic ecosystems.
        </p>
      </div>
      <div>
        <h3 class="text-xl font-semibold text-slate-700">Hands-On Learning and Professional Development</h3>
        <p class="text-lg leading-relaxed text-slate-500 mt-3">
          We provide students with valuable hands-on experience in building and programming autonomous vehicles. This includes offering <strong>fieldwork opportunities</strong> to disciplines that traditionally lack such exposure, such as mechanical, computer, and electrical engineering. 
        </p>
        <p class="text-lg leading-relaxed text-slate-500 mt-3">
          Through teamwork and practical application, we foster an environment where students from all disciplines can learn and grow professionally. Additionally, we are committed to recruiting first-year students, ensuring they gain early exposure to real-world projects and become integral parts of our team from the start.
        </p>
      </div>
      <div>
        <h3 class="text-xl font-semibold text-slate-700">Commitment to EDII and Outreach</h3>
        <p class="text-lg leading-relaxed text-slate-500 mt-3">
          We are dedicated to upholding <strong>Equity, Diversity, Inclusion, and Indigeneity (EDII)</strong> principles, ensuring a diverse and inclusive team. This commitment enriches our project and community, promoting a culture of respect and collaboration.
        </p>
        <p class="text-lg leading-relaxed text-slate-500 mt-3">
          Additionally, we are committed to outreach, actively engaging in initiatives that give back to our community. By fostering an inclusive environment and prioritizing outreach efforts, we aim to make a <strong>positive impact both within and beyond our university</strong>.
        </p>
      </div>
    </div>
    <Sectionhead>
      <Fragment slot="title">Our Team</Fragment>
      <Fragment slot="desc">WHAT WE CAN DO</Fragment>
    </Sectionhead>
    <section class="mt-8 grid border-2 p-8 border-dashed border-slate-300 rounded-xl  bg-opacity-35 py-16 bg-gray-50 ">
      <div class="max-w-6xl mx-auto px-6">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-12">
          <div>
            <h3 class="text-2xl font-semibold mb-4">⚙️Mechanical</h3>
            <p class="text-slate-600">
              The mechanical team is responsible for creating a buoyant and stable ASV hull, and designing the propulsion system. The hull must comply with Roboboat competition rules: no more than six feet in length, four feet in width, and no heavier than 75 lbs. They also ensure that all components used by other teams are waterproof, ready for in-water testing.
            </p>
            <p class="text-slate-600 mt-4">
              Additionally, they design a simple transport cart for the hull, often in a quick hackathon session of just three hours!
            </p>
          </div>
          <div>
            <h3 class="text-2xl font-semibold mb-4">⚡Electrical</h3>
            <p class="text-slate-600">
              The electrical team focuses on designing an efficient sensor suite while minimizing costs, integrating the payload computer with onboard sensors, and implementing a robust e-stop safety system with both physical and remote access.
            </p>
            <p class="text-slate-600 mt-4">
              They also collaborate with the mechanical team to ensure smooth motor control for propulsion.
            </p>
          </div>
          <div>
            <h3 class="text-2xl font-semibold mb-4">🧠Autonomy</h3>
            <p class="text-slate-600">
              The autonomy team develops path planning and behavior planning algorithms for the ASV. During the inaugural year, methods like A* for path planning, basic if-else behaviors, and PID control will provide a strong foundation for future advancements.
            </p>
          </div>
          <div>
            <h3 class="text-2xl font-semibold mb-4">👀Perception</h3>
            <p class="text-slate-600">
              The perception team handles localization, mapping, and obstacle detection using the sensor suite. They collaborate closely with the electrical team to determine sensor specifications and placement.
            </p>
            <p class="text-slate-600 mt-4">
              Since the Roboboat competition doesn’t provide a map, the perception team is fully responsible for creating maps and relaying them to the autonomy team.
            </p>
          </div>
        </div>
      </div>
    </section>

    <Sectionhead>
      <Fragment slot="title">Competition</Fragment>
      <Fragment slot="desc">WHAT WE AIM TO ACHIEVE?</Fragment>
    </Sectionhead>

    <div class="mx-auto max-w-4xl mt-8">
      <div class="grid grid-cols-1 lg:grid-cols-3 gap-4 items-center">
        <!-- Image Column -->
        <div class="flex justify-center lg:col-span-1">
          <Picture
            src={roboboatImage}
            alt="logo of roboBoat Competition"
            sizes="(max-width: 800px) 100vw, 200px"
            width={300}
            height={300}
          />
        </div>
    
        <!-- Text Column -->
        <div class="lg:col-span-2">
          <p class="text-lg leading-relaxed text-slate-500">
            In 2025, aQuatonomous plans to compete in the <strong>RoboNation RoboBoat Competition</strong>. This event provides an excellent platform to demonstrate our ASV and to achieve our mission of generating clean-powered vessels that support ecological research and restoration. Competing on a global stage allows us to showcase our cutting-edge technology and commitment to sustainability while fostering collaboration and learning within the international community.
          </p>
        </div>
      </div>
    </div>
    

  </Container>
</Layout>