---
import Contactform from "@components/ContactForm.astro";
import Container from "@components/Container.astro";
import Sectionhead from "@components/SectionHead.astro";
import Layout from "@layouts/Layout.astro";
import { Icon } from "astro-icon/components";
---

<Layout title="Contact">
  <Container class="relative z-10">
    <Sectionhead>
      <Fragment slot="title">Contact</Fragment>
      <Fragment slot="desc">Set sail with us.</Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-2 gap-10 mx-auto max-w-4xl mt-16">
      <div>
        <h2 class="font-medium text-2xl text-gray-800">Contact aQuatonomous</h2>
        <p class="text-lg leading-relaxed text-slate-500 mt-3">
          Got something to share? We're all ears and ready to assist! Dive in—fill out the form and drop us an email.
        </p>
        <div class="mt-5">
          <div class="flex items-center mt-2 space-x-2 text-gray-600">
            <Icon class="text-gray-400 w-4 h-4" name="uil:map-marker" />
            <span>45 Union St, Kingston, ON K7L 2N8</span>
          </div><div class="flex items-center mt-2 space-x-2 text-gray-600">
            <Icon class="text-gray-400 w-4 h-4" name="uil:envelope" /><a
              href="mailto:aquatonomous@engsoc.queensu.ca"
              >aquatonomous@engsoc.queensu.ca</a
            >
          </div>
        </div>
      </div>
      <div>
        <Contactform />
      </div>
    </div>
  </Container>
</Layout>
