<div class="relative h-screen w-full overflow-hidden">
  <!-- Background Video -->
  <div class="absolute inset-0 z-0 pointer-events-none scale-[1.2]">
    <iframe
      class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 w-[325%] h-[125%] min-w-full min-h-full object-cover sm:w-full sm:h-full sm:min-w-0 sm:min-h-0"
      src="https://www.youtube.com/embed/REPM_JiqIVo?autoplay=1&mute=1&controls=0&loop=1&modestbranding=1&showinfo=0&rel=0&playsinline=1&playlist=REPM_JiqIVo"
      title="YouTube video background"
      frameborder="0"
      allow="autoplay; fullscreen"
      allowfullscreen
    ></iframe>
  </div>
  <!-- Overlay Text -->
  <div class="relative z-10 flex items-center justify-center h-full w-full bg-black/60 px-4 text-center">
  <div class="flex flex-col">
    <h1 class="flex items-center gap-4 text-white text-4xl md:text-6xl font-normal leading-tight">
      <img src="/light-aqua-sticker-art.svg" alt="aQuatonomous logo" class="w-16 h-16 md:w-20 md:h-20" />
      
      <div class="flex flex-col md:flex-row md:items-end">
        <span>
          <span class="font-extrabold text-white">aQua</span><span class="font-normal text-white">tonomous</span>
        </span>
        
        <span class="text-gray-400 text-sm md:text-base md:ml-2">
          @ Smith Engineering / Queen's University
        </span>
      </div>
    </h1>

    <h2 class="text-gray-400 text-xl md:text-2xl font-normal leading-tight mt-2"> 
      Designing clean-powered maritime robots to understand our waters.
    </h2>

    <a href="#hero" class="mt-6 flex justify-center animate-bounce">
      
      <svg class="w-6 h-6 text-white opacity-70 hover:opacity-100 transition-opacity" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7" />
      </svg>
    </a>
  </div>
  </div>
</div>