---
import Link from "./ui/link.astro";
---

<div
  class="bg-black p-8 md:px-20 md:py-20 mt-20 mx-auto max-w-5xl rounded-lg flex flex-col items-center text-center">
  <h2 class="text-white text-4xl md:text-6xl tracking-tight">
    Set Sail with Us! 🌟🚢
  </h2>
  <p class="text-slate-400 mt-4 text-lg md:text-xl">
    Are  you a prospective sponsor? Looking for an opportunity? Feel free to contact us and send us a message.
  </p>
  <div class="flex mt-5 rounded-full">
    <Link href="/contact" style="inverted">Join Our Crew</Link>
  </div>
</div>
