---
import { Picture } from "astro:assets";
import aquaLogo from "assets/Logo.png";
import nauticalDisaster from "assets/NauticalDisater";
import Link from "@components/ui/Link.astro";
import { Icon } from "astro-icon/components";

---

<main
  class="grid lg:grid-cols-[1fr_1.5fr] place-items-center gap-12 pt-16 pb-8 md:pb-24 md:pt-12"
>
  <!-- Left content -->
  <div id="hero">
    <div class="flex items-center space-x-4">
      <h1 class="text-AquaNavy text-5xl lg:text-8xl  font-bold tracking-tight">
        Ahoy!
      </h1>
    </div>

    <p class="text-lg mt-4 text-slate-600">
      aQuatonomous, derived from the words "aqua," "Queen’s," and "autonomous," is an innovative design team at Smith Engineering.
    </p>
    <p class="text-lg mt-4 text-slate-600">
      We are dedicated to conceptualizing, constructing, and programming an autonomous surface vessel (ASV/robotic boat) to compete annually in the RoboNation RoboBoat Competition.
    </p>
    <div class="mt-6 flex flex-col sm:flex-row gap-3">
      <Link
        href="/about"
        target="_blank"
        class="bg-AquaBlue flex gap-1 items-center justify-center"
        rel="noopener"
      >
        Learn More
      </Link>
    </div>
  </div>

  <!-- Todo: Carousel -->
  
</main>

