---
import pagefind from 'astro-pagefind'
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
// TO DO: Change styling of drop down and fix image preview issues
---

<div id="search"></div>
<script>
    window.addEventListener('DOMContentLoaded', (event) => {
        new PagefindUI({ element: "#search", showSubResults: true });
    });
</script>